.search-result-item {
  display: flex;
  align-items: center;
  margin: 10px;
  border-radius: 5px;
  padding: 8px;
  overflow: clip;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
}

.search-result-details {
  margin-left: 10px;
}
