@import "../../../styles.scss";

footer {
  background-color: map-get($moviedb-primary, default);
  padding: 20px;
  display: flex;
  justify-content: center;
}

footer .footer {
  width: 100%;
  max-width: var(--maxPrimaryPageWidth);
  color: map-get($moviedb-primary, default-contrast);
}
