<mat-card class="scroller-container">
  <mat-card-header>
    <div class="header">
      <mat-card-title class="section title">{{ title }}</mat-card-title>
      <a class="more" routerLink="{{ 'discover' + itemPathPrefix }}">
        show more
      </a>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="scroller">
      <app-movie-item
        *ngFor="let movie of movies"
        itemPathPrefix="{{ itemPathPrefix }}"
        [id]="movie.id"
        [title]="movie.title"
        [posterPath]="movie.posterPath"
        [voteAverage]="movie.voteAverage"
      ></app-movie-item>
    </div>
  </mat-card-content>
  <mat-card-footer></mat-card-footer>
</mat-card>
