<mat-card class="main">
  <mat-card-content class="main-content">
    <img
      fallback="/assets/poster-fallback.png"
      class="poster"
      src="https://image.tmdb.org/t/p/w342/{{ posterPath }}"
    />
    <div class="texts">
      <header>
        <h1 class="title">{{ title }}</h1>
        <h4>Original title: {{ originalTitle }}</h4>
        <h4>
          {{ releaseYear() }} &#8226; {{ genresString() }} &#8226;
          {{ runtimeString() }}
        </h4>
        <div class="vote-average">
          <circle-progress
            [percent]="voteAveragePercentage()"
            [radius]="25"
            unitsColor="white"
            titleColor="white"
            titleFontSize="14"
            [outerStrokeWidth]="4"
            [innerStrokeWidth]="0"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="300"
          />
          User score
        </div>
      </header>
      <div class="overview">
        <h2>Overview</h2>
        <p>{{ overview }}</p>
      </div>
    </div>
  </mat-card-content>
</mat-card>
