@import "../../../styles.scss";

.home-container section {
  margin: 20px 0;
}

.search-section {
  padding: 10px;
  background-color: map-get($moviedb-primary, default);
  color: map-get($moviedb-primary, default-contrast);
}

.search-section mat-card-content {
  margin-top: 10px;
}

.search-section mat-card-subtitle {
  color: map-get($moviedb-primary, default-contrast);
}
