.scroll-item {
  width: 154px;
  margin-bottom: 8px;
  flex-grow: 1;
}

.scroll-item img {
  width: fit-content;
  height: 100%;
  position: static;
}

.title {
  color: black;
  font-size: 14px;
  line-height: normal;
  font-weight: 500;
}

.scroll-item img {
  border-radius: 6px;
  width: 154px;
}

.scroll-item img:hover {
  cursor: pointer;
}

.scroll-item-footer {
  margin-bottom: 15px;
}
