.search-container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 800px;
}

.search-container .search-form-container {
  margin-top: 20px;
}

.search-container mat-paginator {
  background-color: inherit;
}
