<mat-drawer-container>
  <mat-drawer #drawer>
    <p class="title">MovieDB</p>
    <mat-divider />

    <app-search-form (searchSubmit)="drawer.toggle()" [clearOnSubmit]="true" />

    <mat-list>
      <mat-list-item class="link" routerLink="/" (click)="drawer.toggle()">
        <mat-icon matListItemIcon>home</mat-icon>
        <div matListItemTitle>Home</div>
      </mat-list-item>
    </mat-list>

    <mat-list>
      <p class="category-name">Discover</p>
      <mat-list-item
        class="link"
        routerLink="/discover/movie"
        (click)="drawer.toggle()"
      >
        <mat-icon matListItemIcon>movie</mat-icon>
        <div matListItemTitle>Movies</div>
      </mat-list-item>
      <mat-list-item
        class="link"
        routerLink="/discover/tv"
        (click)="drawer.toggle()"
      >
        <mat-icon matListItemIcon>tv</mat-icon>
        <div matListItemTitle>TV shows</div>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="page-container">
    <app-header (menuClick)="drawer.toggle()"></app-header>
    <div class="row content">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </div>
</mat-drawer-container>
