.image-scroller {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  overflow-y: scroll;
  height: fit-content;
  width: 100%;
  margin-top: 5px;
  justify-content: flex-start;
}

.image-scroller.empty {
  justify-content: center;
}

.image-scroller img {
  height: 300px;
}

.image-scroller .no-item {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
