<div *ngIf="!!movie" class="main-container movie-page-container">
  <section>
    <app-detail-section
      [title]="movie.title"
      [originalTitle]="movie.original_title"
      [genres]="movie.genres"
      [releaseDate]="movie.release_date"
      [runtime]="movie.runtime"
      [overview]="movie.overview"
      [posterPath]="movie.poster_path"
      [voteAverage]="movie.vote_average"
    />
  </section>

  <section *ngIf="!!credits?.length">
    <app-cast-scroller [credits]="credits" />
  </section>

  <section>
    <app-images-section [images]="images" />
  </section>
</div>
